---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ACGN SVG Club">
    <main>
        <div id="large-logo">
            <img src="/favicon.svg" width="192px" height="192px" alt="ACGN SVG Club"/>
        </div>
        
        <h1 id="home-title">
            ACGN SVG Club
        </h1>
        <p>
            A lot of ACGN images do not have a high resolution. In contrast, huge amounts of space are often taken up unexpectedly for higher resolution, especially for comic and anime.
        </p>
        <p>
            There are some inverse graphics researches, like <a href="https://arxiv.org/abs/2007.02190" target="_blank">BézierSketch</a>, which can convert low-resolution images to vector graphics with no larger size but more clear. Maybe there will be some algorithms that can convert all kinds of ACGN images to vector graphics in future. 
        </p>
        <p>
            However, we think that the best high-resolution images must be the native vector graphics. Thus, we found <strong>ACGN SVG club</strong>.
        </p>
        <p>
            <strong>The ACGN SVG club</strong> is a collection of native vector graphics illustrations. To join us, your artwork must satisfy <strong>both</strong> of the following requirements:
        </p>
        <ol>
            <li>
                Must be a <strong>colored</strong> illustration of anime, comic, game or light novel.
            </li>
            <li>
                Must be SVG compliant and render perfectly as SVG.
            </li>
        </ol>
        <div class="link-button-container">
            <a href="/artworks">
                View Artworks
            </a>
        </div>
    </main>
</Layout>

<style>
    main {
        max-width: 50rem;
        margin: 0 auto;
        padding: 3rem;
        font-size: 18px;
    }

    #large-logo {
        display: flex;
        justify-content: center;
    }

    main > * {
        margin-bottom: 1rem;
    }

    #home-title {
        font-size: 3rem;
        text-align: center;
    }

    .link-button-container {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .link-button-container a {
        display: inline-block;
        background-color: #132B38;
        color: #D8F1FF;
        box-sizing: border-box;
        padding: .75rem 1rem;
        transition: background-color 0.25s;
        cursor: pointer;
    }

    .link-button-container a:hover {
        text-decoration: none;
        background-color: #215E7F;
    }

    @media (prefers-color-scheme: dark) {
        .link-button-container a {
            color: #132B38;
            background-color: #D8F1FF;
        }
        .link-button-container a:hover {
            background-color: #70CDFF;
        }
    }
</style>
